{% extends "base.html.twig" %}

{% block content %}
    {% include("game/config.twig") %}
    <div class="mx-auto">
        <div class="d-flex flex-column user-select-none" id="gameField"></div>
    </div>
{% endblock %}

{% block js_render %}
<script src="/assets/js/field.js"></script>
<script src="/assets/js/game.js"></script>
<script>
    function getRandomInt(max) {
        return Math.floor(Math.random() * max);
    }

    var game = new Game({
        field: $("#gameField")
    });
    game.events();

    $("#startGame").click(() => {
        game.start({
            cols : $('[name="cols"]').val(),
            rows : $('[name="rows"]').val(),
            seed : $('[name="seed"]').val(),
            difficult : $('[name="difficult"]').val()
        });
    });

    $("#randomSeed").click(() => {
        $('[name="seed"]').val(getRandomInt(1000000));
    });
</script>
{% endblock  %}