{% extends "base.html.twig" %}

{% block content %}
    <main class="container my-3">
        {% include("parts/config.twig") %}
        {% include("parts/sidebar.html.twig") %}
    </main>
    <div class="mx-auto">
        <div class="d-flex flex-column user-select-none" id="gameField"></div>
    </div>
{% endblock %}

{% block js_render %}
<script type="module" src="/assets/js/index.js"></script>
{% endblock  %}