{% extends "base.html.twig" %}

{% block content %}
<div class="container my-3">
    <h5>Сапер</h5>
    <div class="d-flex gap-3">
        <button type="button" class="btn btn-outline-secondary">Опции</button>
    </div>
</div>
<div class="container-fluid my-5">
    <div class="d-flex flex-column" id="gameField">
    {% set field = content.field %}
    {% for row in 0..(field.getY - 1) %}
        <div class="d-flex justify-content-center" data-row="{{ row }}">
        {% for col in 0..(field.getX - 1) %}
            {% set cell = field.getCell(col, row) %}
            <img width="16" height="16" data-col="{{ col }}"></img>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block js_render %}
<script src="/assets/js/field.js"></script>
<script>
    var field = new Field();
    field.getCell();
    const gameField = $("#gameField");
    gameField.children().each((index, row) => {
        $(row).children().each((index, col) => {
            $(col).attr("src", field.getCell((index > 8 ? "cell" : "cell" + index)));
        })
    })
</script>
{% endblock  %}