.ms-cell{
    width: 20px;
    height: 20px;
    font-size: 0.8rem;
}

.ms-text-8{
    color: #fff;
}

.ms-text-7{
    color: #fff;
}

.ms-text-6{
    color: #fff;
}

.ms-text-5{
    color: #7b0000;
}

.ms-text-4{
    color: #00007b;
}

.ms-text-3{
    color: #ff0101;
}

.ms-text-2{
    color: #007b00;
}

.ms-text-1{
    color: #0101ff;
}

.ms-text-0{
    color: transparent;
}