<b>Настройки сапера</b>
<form id="gameConfigs" class="d-flex gap-3 my-3">
    <input type="number" name="cols" id="cols" min="2" max="200" step="1" value="10" class="form-control" placeholder="Ширина поля" style="width: 200px;">
    <input type="number" name="rows" id="rows" min="2" max="200" step="1" value="10" class="form-control" placeholder="Высота поля" style="width: 200px;">
    <div class="d-flex gap-2">
        <input type="number" name="seed" id="seed" min="1" step="1" value="{{ random(1, 100000) }}" class="form-control" placeholder="Сид игры" style="width: 200px;">
        <button type="button" class="btn btn-outline-secondary" id="randomSeed"><i class="bi-dice-6-fill"></i></button>
    </div>
    <select class="form-select" name="difficult" id="difficult">
        <option value="easy">Легкий</option>
        <option value="medium">Средний</option>
        <option value="hard">Сложный</option>
    </select>
    <button type="button" class="btn btn-outline-success" id="startGame">Начать</button>

    <input type="hidden" name="_csrf" value="123">
</form>